.aside {
    width:400px;
    height:calc(100vh - 210px);
    padding:40px;
    .heading {
        font-weight: normal;
        font-size: 1.3em;
    }
    .nav {
        .nav__list {
            margin:50px 0;
            .nav__item {
                margin:10px 0;
                .nav__link {
                    text-decoration: none;
                    color:black;
                    opacity: 0.5;
                    transition: all 0.5s ease-in-out;
                    &:hover {
                        opacity: 1;
                        // font-weight: 600;
                    }
                }
            }
        }
    }
    @include media($small){
        display: none;
        
    }
    @include media($middle){
        
    }
}