.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:115px;
    max-width: 200px;
    text-align:center;
    color:white;
    text-transform: uppercase;
    font-size: bold;
    text-decoration: none;
    min-height:40px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../../image/circular.jpg');
    opacity: 0.7;
    transition: all 0.5s;
    &:hover {
        opacity: 1;
    }
}